@import "../scss/abstract/variables";
@import "../scss/sections/main-container";
@import "../scss/components/buttons";
@import "../scss/components/table";


body {
    background-color: $color-grey-light;
    font-family: $font;
    margin: 0;
    padding-top: $padding-xl;
}