/* line 3, scss/sections/_main-container.scss */
#main-container {
  background-color: #fff;
  border-radius: 4px;
  margin: 0 auto;
  overflow: hidden;
  width: 80%; }
  /* line 9, scss/sections/_main-container.scss */
  #main-container header {
    background-color: #435d7d;
    border: 3px solid crimson;
    border-radius: 4px;
    color: #fff;
    display: flex;
    justify-content: space-between; }

/* line 4, scss/style.scss */
body {
  background-color: #f5f5f5;
  font-family: "Varela Round", sans-serif;
  margin: 0;
  padding-top: 20px; }
