.btn {
    background-color: $color-green;
    color: $color-white;
    border: none;
    border-radius: 2px;
    font-family: $font;
    font-size: $font-xs;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: $padding-xxs $padding-xs;
    &:focus, &:active{
        outline: none; 
    }
    &:hover {
        background-color: darken(#5cb85c, 10%);
    }
    i {
        font-size: 21px;
        margin-right: 5px;
    }
}

.btn-green, .btn-red {
    width: 38px;
    height: 38px;
    padding: 4px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: $color-green;
    color:white;
    margin: 5px;
    i {
        font-size: 18px;
    }
    
   
}
.btn-red {
    background-color:#B71C1C;
}