.btn {
    background-color: $color-green;
    color: $color-white;
    border: none;
    border-radius: 2px;
    font-family: $font;
    font-size: $font-xs;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: $padding-xxs $padding-xs;
    &#btn-filter-user {
        margin-left: 10px;
        width: 100px;
    }
    &:focus, &:active{
        outline: none; 
    }
    &:hover {
        background-color: darken(#5cb85c, 10%);
    }
    i {
        font-size: 21px;
        margin-right: 5px;
    }
}

.btn-green, .btn-red {
    width: 34px;
    height: 34px;
    padding: 4px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: $color-green;
    color:white;
    &:focus, &:active{
        outline: none;
    }
    &:hover {
        background-color: darken(#5cb85c, 10%);
    }
    i {
        font-size: 18px;
    }
.btn-green {
    margin: 5px 5px 5px 0;
}    
   
}
.btn-red {
    margin: 5px;
    background-color:#B71C1C;
    &:hover {
        background-color: darken(#B71C1C, 10%);
    }
}